.sidebar {
  background-color: $darkBlue;
  max-width: 300px;
  width: 30vw;
  height: 100vw;
  padding: 0 20px;
  &__logo {
    padding: 20px 0;
  }
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 20vh;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__link {
    font-size: 22px;
    color: #fff;
    transition: color linear 0.3s;
    text-decoration: none;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
      color: $orange;
    }
    &--active {
      color: $orange;
    }
  }
  &__search {
    margin-top: 25px;
    position: relative;
    &-input {
      border: 1px solid transparent;
      border-radius: 5px;
      padding: 5px 30px 5px 8px;
      width: 100%;
      outline: none;
      &:active, &:focus {
        border: 1px solid $orange;
      }
    }
    &-clear {
      display: flex;
      align-items: center;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
      height: 12px;
    }
  }
}
