$darkBlue: #003459;
$blue: #00A8E8;
$body: #f8f8fd;
$orange: #ff6823;
$gray: #e8e8e8;
$darkGray: #828282;


body {
  margin: 0;
  font-family: 'Open Sans', sans-serif, arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $body;
  color: $darkBlue;
  font-weight: 500;
}
* {
  box-sizing: border-box;
}


@import 'components/Sidebar/Sidebar';
@import 'components/PostsList/PostsList';
@import 'components/Breadcrumb/Breadcrumb';
@import 'components/Post/Post';
