body {
  margin: 0;
  font-family: 'Open Sans', sans-serif, arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$darkBlue: #003459;
$blue: #00A8E8;

@import 'components/Sidebar/Sidebar';
